name: Docker Build

on:
  workflow_call:
    inputs:
      push_image:
        description: 'Whether to push the image or not'
        required: true
        type: boolean
      tags:
        description: 'The Docker image tags to be used (one per line or comma-separated)'
        required: true
        type: string
      tf_version:
        description: 'The Terraform version'
        required: true
        type: string
      tg_version:
        description: 'The Terragrunt version'
        required: true
        type: string
      environment:
        description: 'The environment for the secrets'
        type: string
        default: ''
      target:
        description: 'The Dockerfile stage to target'
        type: string
        default: ''
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Conditional Docker login
        if: ${{ inputs.push_image }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          push: ${{ inputs.push_image }}
          target: ${{ inputs.target }}
          tags: ${{ inputs.tags }}
          labels: |
            io.jblab.build.number=${{ github.run_id }}.${{ github.run_number }}
            io.jblab.git.repository=${{ github.repositoryUrl }}
          build-args: |
            TERRAFORM_VERSION=${{ inputs.tf_version }}
            TERRAGRUNT_VERSION=${{ inputs.tg_version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
